NEXT_PUBLIC_APP_MODE=demo
NEXT_PUBLIC_FHENIX_ENV=TESTNET
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_CHAIN_ID=42069
NEXT_PUBLIC_CHAIN_NAME=CoFHE Local
NEXT_PUBLIC_EXPLORER_URL=http://127.0.0.1:8545

NEXT_PUBLIC_COFHE_URL=
NEXT_PUBLIC_ZK_VERIFIER_URL=
NEXT_PUBLIC_THRESHOLD_URL=

NEXT_PUBLIC_GAUGE_CONTROLLER_ADDRESS=
NEXT_PUBLIC_VEIL_TOKEN_ADDRESS=
NEXT_PUBLIC_STABLE_CONTROLLER_ADDRESS=
NEXT_PUBLIC_STABLE_TOKEN_ADDRESS=
NEXT_PUBLIC_VEIL_FAUCET_ADDRESS=

NEXT_PUBLIC_COLLATERAL_0_NAME=ETH / fhUSDC LP
NEXT_PUBLIC_COLLATERAL_0_ADDRESS=
NEXT_PUBLIC_COLLATERAL_1_NAME=sDAI / fhUSDC LP
NEXT_PUBLIC_COLLATERAL_1_ADDRESS=
