NEXT_PUBLIC_APP_MODE=demo
NEXT_PUBLIC_FHENIX_ENV=TESTNET
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_CHAIN_ID=42069
NEXT_PUBLIC_CHAIN_NAME=CoFHE Local
NEXT_PUBLIC_EXPLORER_URL=http://127.0.0.1:8545

NEXT_PUBLIC_COFHE_URL=
NEXT_PUBLIC_ZK_VERIFIER_URL=
NEXT_PUBLIC_THRESHOLD_URL=

NEXT_PUBLIC_GAUGE_CONTROLLER_ADDRESS=
NEXT_PUBLIC_VEIL_TOKEN_ADDRESS=
NEXT_PUBLIC_STABLE_CONTROLLER_ADDRESS=
NEXT_PUBLIC_STABLE_TOKEN_ADDRESS=
NEXT_PUBLIC_VEIL_FAUCET_ADDRESS=
NEXT_PUBLIC_POOL_0_NAME=ETH / fhUSDC
NEXT_PUBLIC_POOL_0_ADDRESS=
NEXT_PUBLIC_POOL_1_NAME=wBTC / fhETH
NEXT_PUBLIC_POOL_1_ADDRESS=
NEXT_PUBLIC_POOL_2_NAME=sDAI / fhUSDC
NEXT_PUBLIC_POOL_2_ADDRESS=

NEXT_PUBLIC_ASSET_0_NAME=fhETH
NEXT_PUBLIC_ASSET_0_ADDRESS=
NEXT_PUBLIC_ASSET_0_FAUCET_ADDRESS=
NEXT_PUBLIC_ASSET_1_NAME=fhUSDC
NEXT_PUBLIC_ASSET_1_ADDRESS=
NEXT_PUBLIC_ASSET_1_FAUCET_ADDRESS=
NEXT_PUBLIC_ASSET_2_NAME=wBTC
NEXT_PUBLIC_ASSET_2_ADDRESS=
NEXT_PUBLIC_ASSET_2_FAUCET_ADDRESS=
NEXT_PUBLIC_ASSET_3_NAME=sDAI
NEXT_PUBLIC_ASSET_3_ADDRESS=
NEXT_PUBLIC_ASSET_3_FAUCET_ADDRESS=

NEXT_PUBLIC_COLLATERAL_0_NAME=ETH / fhUSDC LP
NEXT_PUBLIC_COLLATERAL_0_ADDRESS=
NEXT_PUBLIC_COLLATERAL_1_NAME=sDAI / fhUSDC LP
NEXT_PUBLIC_COLLATERAL_1_ADDRESS=
